<h2 ion-item>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login($event)">
    <ion-list>
      <ion-item>
        <ion-label>{{'USERNAME' | translate}}</ion-label>
        <ion-input id="username" name="username" formControlName="username" type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'PASSWORD' | translate}}</ion-label>
        <ion-input id="password" name="password" formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full
            type="submit">
      {{'SUBMIT' | translate}}
    </button>
  </form>
