<form [formGroup]="signupForm" (ngSubmit)="signup($event)" class="form-horizontal">
  <ion-list>
    <h1 ion-item>{{'SIGN_UP' | translate}}</h1>
    <!-- First name input-->
    <ion-item>
      <ion-label>{{'FIRST_NAME' | translate}}</ion-label>
      <ion-input id="firstName" type="text" required="true" formControlName="firstName"></ion-input>
    </ion-item>
    <!-- Last name input -->
    <ion-item>
      <ion-label>{{'LAST_NAME' | translate}}</ion-label>
      <ion-input id="lastName" type="text"
                 required="true" formControlName="lastName"></ion-input>
    </ion-item>
    <!-- Username input -->
    <ion-item>
      <ion-label>{{'USERNAME' | translate}}</ion-label>
      <ion-input id="username" type="text"
                 required="true" formControlName="username"></ion-input>
    </ion-item>

    <!-- Email input-->
    <ion-item>
      <ion-label>{{'EMAIL' | translate}}</ion-label>
      <ion-input id="email" type="text"
                 required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" formControlName="email"></ion-input>
    </ion-item>

    <!-- Password input-->
    <ion-item>
      <ion-label>{{'PASSWORD' | translate}}</ion-label>
      <ion-input id="password" type="password"
                 required="true" formControlName="password"></ion-input>
    </ion-item>
    <!-- Repeat password input-->
    <ion-item>
      <ion-label>{{'REPEAT_PASSWORD' | translate}}</ion-label>
      <ion-input id="repeatpassword" type="password"
                 required="true" formControlName="repeatPassword"></ion-input>
    </ion-item>

    <!-- submit-button -->
    <ion-item>
      <button ion-button full id="signup" type="submit">{{'SIGN_UP' | translate}}</button>
    </ion-item>

  </ion-list>
</form>
