<ion-list *ngIf="task">
  <h2>{{task.name}} details!</h2>
  <ion-item>
    id: {{task.id}}
  </ion-item>
  <ion-item>
    <ion-label fixed>{{'TODO_NAME' | translate}}</ion-label>
    <ion-input [(ngModel)]="task.name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>{{'TODO_DESCRIPTION' | translate}}</ion-label>
  <ion-input [(ngModel)]="task.description"></ion-input>
</ion-item>
  <button ion-button full (click)="goBack()">{{'CANCEL' | translate}}</button>
  <button ion-button full (click)="save()">{{'SAVE' | translate}}</button>
</ion-list>
