<ion-list *ngIf="telephone">
  <ion-item>
    {{'ID' | translate}}: {{telephone.id}}
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="telephone.number" placeholder="{{'TELEPHONE_NUMBER' | translate}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="telephone.type" placeholder="{{'TELEPHONE_TYPE' | translate}}"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button full (click)="goBack()">{{'CANCEL' |translate}}</button>
  </ion-item>
  <ion-item>
    <button ion-button full (click)="save()">{{'SAVE' |translate}}</button>
  </ion-item>
</ion-list>
