<ion-list *ngIf="user">
    <ion-item>
            <h3 ion-item>{{user.username}}</h3>
            <ion-item>Email : {{user.email}}</ion-item>
      <ion-item><ion-input type="text" placeholder="{{'FIRST_NAME' | translate}}" [(ngModel)]="user.firstName" required></ion-input></ion-item>
      <ion-item><ion-input type="text" placeholder="{{'LAST_NAME' | translate}}" [(ngModel)]="user.lastName" required></ion-input></ion-item>
            <ion-item>{{'ROLES' | translate}} : {{user.roles}}</ion-item>
      <ion-item><ion-input type="password" placeholder="{{'PASSWORD' | translate}}" [(ngModel)]="password"></ion-input></ion-item>
      <ion-item><ion-input type="password" placeholder="{{'REPEAT_PASSWORD' | translate}}" [(ngModel)]="repeatPassword"></ion-input></ion-item>
    </ion-item>
    <button ion-button full (click)="save(user, password, repeatPassword)">{{'SAVE' | translate}}</button>
    <button ion-button full (click)="back()">{{'CANCEL' | translate}}</button>
  </ion-list>
