<ion-list *ngIf="user">
  <ion-item>
    <h3 ion-item>{{user.username}}</h3>
    <ion-item>{{'EMAIL' | translate}} : {{user.email}}</ion-item>
    <ion-item>{{'FIRST_NAME' | translate}} : {{user.firstName}}</ion-item>
    <ion-item>{{'LAST_NAME' | translate}} : {{user.lastName}}</ion-item>
    <ion-item>{{'ROLES' | translate}} : {{user.roles}}</ion-item>
  </ion-item>
  <ion-item>
    <button ion-button (click)="managePhones()">{{'MANAGE_PHONES' | translate}}</button>
  </ion-item>
  <ion-item>
    <button ion-button (click)="manageAddresses()">{{'MANAGE_ADDRESSES' | translate}}</button>
  </ion-item>
  <ion-item>
    <button ion-button (click)="manageProfile()">{{'MANAGE_PROFILE' | translate}}</button>
  </ion-item>
</ion-list>
