<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Ionic App
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- side menu -->
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'MENU' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)" menuToggle>
        {{'HOME' | translate}}
      </button>
      <button ion-item (click)="openPage(todoPage)" menuToggle>
        {{'TODO' | translate}}
      </button>
      <button ion-item (click)="openPage(helloworldPage)" menuToggle>
        {{'HELLO_WORLD' | translate}}
      </button>
      <button *ngIf="!isLogged()" ion-item (click)="openPage(loginPage)" menuToggle>
        {{'LOG_IN' | translate}}
      </button>
      <button *ngIf="!isLogged()" ion-item (click)="openPage(signupPage)" menuToggle>
        {{'SIGN_UP' | translate}}
      </button>
      <button *ngIf="isLogged()" ion-item (click)="myProfile()" menuToggle>
        {{'MY_PROFILE' | translate}}
      </button>
      <button *ngIf="isLogged()" ion-item (click)="logOut()" menuToggle>
      {{'LOG_OUT' | translate}}
    </button>
      <button ion-item (click)="switchLanguage()">
        {{'SWITCH_LANG' | translate}}
      </button>
      <button ion-item menuToggle>
        {{'CLOSE_MENU' | translate}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- app content -->
<ion-content padding>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
</ion-content>
