<ion-list *ngIf="address">

  <ion-item>
    {{'ID' | translate}}: {{address.id}}
  </ion-item>
  <ion-item>
    <input [(ngModel)]="address.postcode" placeholder="{{'ADDRESS_POSTCODE' | translate}}"/>
  </ion-item>
  <ion-item>
    <input [(ngModel)]="address.streetName" placeholder="{{'ADDRESS_STREET_NAME' | translate}}"/>
  </ion-item>
  <ion-item>
    <input [(ngModel)]="address.addressDetails" placeholder="{{'ADDRESS_DETAILS' | translate}}"/>
  </ion-item>
  <ion-item>
    <input [(ngModel)]="address.houseNumber" placeholder="{{'ADDRESS_NUMBER' | translate}}"/>
  </ion-item>
  <ion-item>
    <input [(ngModel)]="address.city" placeholder="{{'ADDRESS_CITY' | translate}}"/>
  </ion-item>
  <ion-item>
    <button ion-button full (click)="goBack()">{{'CANCEL' |translate}}</button>
  </ion-item>
  <ion-item>
    <button ion-button full (click)="save()">{{'SAVE' |translate}}</button>
  </ion-item>
</ion-list>
