<ion-scroll scrollY="true" style="width: 100%; height: 100%;">
  <ion-list *ngIf="addresses.length > 0">
    <h4 ion-item>Addresses</h4>
    <ion-item *ngFor="let address of addresses">
      {{address.houseNumber}} {{address.streetName}}, {{address.city}}
      <ion-icon name="trash" (click)="delete(address);"></ion-icon>
      <ion-icon name="information-circle" (click)="goto(address)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <!-- Form Name -->
    <ion-item>{{'ADDRESS_ADD' | translate}}</ion-item>

    <ion-item>
      <ion-input id="postcode" name="postcode" type="text" placeholder="{{'ADDRESS_POSTCODE' | translate}}"
                 required="true" #postcode></ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="streetName" name="streetName" type="text" placeholder="{{'ADDRESS_STREET_NAME' | translate}}"
                 required="true" #streetName></ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="addressDetails" name="addressDetails" type="text" placeholder="{{'ADDRESS_DETAILS' | translate}}"
                 required="true" #addressDetails></ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="houseNumber" name="houseNumber" type="text" placeholder="{{'ADDRESS_NUMBER' | translate}}"
                 required="true" #houseNumber></ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="city" name="city" type="text" placeholder="{{'ADDRESS_CITY' | translate}}" required="true"
                 #city></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full
              (click)="add(
      postcode.value,
      streetName.value,
      addressDetails.value,
      houseNumber.value,
      city.value); postcode.value = '';
      streetName.value = '';
      addressDetails.value = '';
      houseNumber.value = '';
      city.value = '';">
        {{'SUBMIT' | translate}}
      </button>
    </ion-item>
    <ion-item>
      <button ion-button full type="button" (click)="goBack()">{{'CANCEL' | translate}}</button>
    </ion-item>
  </ion-list>
</ion-scroll>
